* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background-color: aliceblue;
}

#game {
    width: 100vw;
    height: 100vh;
}

#game canvas {
    background-image: url("../../media/prostredi/merge.png");
    background-size: contain;
}

#game * {
    margin: 0 auto;
    display: block;
}

#myBoard {
    margin: 5rem;
    background-image: url("../../media/prostredi/chessboard.png");
    background-size: contain;
}

#myBoard * {
    background-color: transparent;
}